.jumbotron {
    background-image: url("../images/town_kitchen.png");
    background-size: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    color: rgb(20, 102, 129);
}

body {
    background-image: url("../images/Vegbackground_top.jpg");
}
#recipeDiv {
    max-width: 100%;
}
.container {
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
  }

